@model Product
@{
    ViewBag.Title = "Insert";
}

<div class="container">
    <h2>Ürün Ekle</h2>

    @using (Html.BeginForm("Insert", "Product", FormMethod.Post))
    {
    <div class="col-md-6">

        <div class="form-group">
            <label>Adı:</label>
            @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control input-text" })
        </div>
        <div class="form-group">
            <label>Fiyatı</label>
            @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control input-text" })

        </div>
        <div>
            <label>1.Kategori:</label>
            @Html.DropDownListFor(m => m.CategoryID, null, "Kategory Seçiniz", htmlAttributes: new { @class = "form-control" })

        </div>
        <div>
            <label>2.Kategori:</label>
            @Html.DropDownListFor(m => m.SubCategoryID, null, htmlAttributes: new { @class = "form-control" })

        </div>

        <div>
            <label>3. Kategori:</label>
            @Html.DropDownListFor(m => m.ThirdCategoryID, null, htmlAttributes: new { @class = "form-control" })

        </div>
        <div>
            <label>Markası:</label>
            @Html.DropDownListFor(m => m.BrandID, null, htmlAttributes: new { @class = "form-control" })

        </div>
        <div>

            <button type="submit">Ekle</button>
        </div>
    </div>
      

    }
</div>


@section scripts{

    <script>
        $(document.body).on("change", "#CategoryID", function () {



            var id = $(this).val();
            var altKategori = $("#SubCategoryID");
            $("#SubCategoryID").empty();
            $.ajax({
                url: '/Product/Categories/',
                type: 'Get',
                dataType: 'json',
                data: { 'id': id, 'durum': 'Sub' },
                success: function (data) {
                    $.each(data, function (index, options) {
                        altKategori.append('<option value=' + options.Value + '>' + options.Text + '</option>');
                    })

                }
            })


        })


        $(document.body).on("change", "#SubCategoryID", function () {


            var id = $(this).val();
            var ucuncuKategori = $("#ThirdCategoryID");
            $("#ThirdCategoryID").empty();
            $.ajax({
                url: '/Product/Categories/',
                type: 'Get',
                dataType: 'json',
                data: { 'id': id, 'durum': 'Third' },
                success: function (data) {
                    $.each(data, function (status, options) {
                        ucuncuKategori.append('<option value=' + options.Value + '>' + options.Text + '</option>')
                    })
                }

            })
        
        })


    </script>


}


