@model List<Road>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>@ViewBag.DistrictName Mahallesine ait Caddeler</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cadde</th>
                <th>Durumu</th>
                <th>Sil/Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Road item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Sil", "Delete", "Road", new { id = item.ID }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Güncelle", "Update", "Road", new { id = item.ID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Sokaklar", "Index", "Street", new { id = item.ID }, new { @class = "btn btn-default" })

                    </td>
                </tr>

            }
        </tbody>
        <tr>
            <td>
                @Html.ActionLink("Ekle", "Insert", "Road", new { id = ViewBag.DistrictID }, new { @class = "btn btn-info" })

            </td>
        </tr>
    </table>
</div>
