@model List<RegionTo>
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2>@ViewBag.ProvinceName İline ait İlçeler</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>İlçe</th>
                <th>Durumu</th>
                <th>Sil/Güncelle</th>
            </tr>
        </thead>
        <tbody>

            @foreach (RegionTo item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Status</td>
                    <td>
                        @Html.ActionLink("Sil", "Delete", "RegionTo", new { id = item.ID }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Güncelle", "Update", "RegionTo", new { id = item.ID }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Mahalleler", "Index", "District", new { id = item.ID }, new { @class = "btn btn-default" })

                    </td>
                </tr>
            }
        </tbody>
        <tr>
            <td>
                @Html.ActionLink("Ekle", "Insert", "RegionTo", new { id = ViewBag.ProvinceID }, new { @class = "btn btn-info" })

            </td>
        </tr>
    </table>

</div>
