@model List<AppUser>
@{
    ViewBag.Title = "Index";
}



<div class="container">
    <h2>Üyeler</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Adı</th>
                <th>SoyAdı</th>
                <th>Email Adresi</th>
                <th>Telefon Numarası</th>
                <th>Doğum Tarihi</th>
                <th>Durumu</th>
                <th>Sil/Güncelle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AppUser item in Model)
            {
                <tr>
                    
                    <td>@item.Name</td>
                    <td>@item.SurName</td>
                    <td>@item.EmailAddress</td>
                    <td>@item.Phone</td>
                    <td>
                        @item.BirthDate
                    </td>
                    <td>@item.Status</td>
                    <td>
                        
                            @Html.ActionLink("Sil", "Delete", "AppUser", new { id = item.ID }, new { @class = "btn btn-default" })
                           @Html.ActionLink("Güncelle", "Update", "AppUser", new { id = item.ID }, new { @class = "btn btn-default" })
                     





                    </td>
                </tr>
            }
        </tbody>
        <tr>
            <td>
                @Html.ActionLink("Ekle", "Insert", "AppUser", null, new { @class = "btn btn-default" })

            </td>
        </tr>
    </table>
</div>
